<div class="main-container">
    <div class="tnc" id="dPopupMsgText" style="display: block; text-align: left;">
        <font color="``ff0000``">Kindly check your showtimes while booking as there are mid-night shows available as
            well.
        </font><br>
        <font color="``ff0000``">Ticket price inclusive of 3D glass charges.</font><br><strong>1.As per the State
            Government
            Guidelines, In order to enter the cinema, It is mandatory to have Covid 19 Vaccine (One dose at least), for
            patrons above 18 years old. Vaccination certificate will be verified at the cinema entry, no entry will be
            permitted for non-vaccinated patrons and tickets will not be refunded</strong><br>2.Tickets once purchased
        cannot be cancelled, exchanged or refunded.<br>3.Tickets purchased online are not eligible for discounts,
        schemes or
        promotions of any kind.<br>4.To collect tickets from the Box Office, it is mandatory for the cardholder to be
        present in person with the card used for the transaction, along with the booking confirmation (SMS/computer
        printout) to help minimize the risk of fraud.<br>5.Online bookings on our site are carried out over a secure
        payment
        gateway.<br>6.Tickets purchased online for a particular multiplex are valid for that multiplex only. <font
            color="``ff0000``"><br>7.Children below the age of 18 cannot be admitted for movies certified
            `A`.<br>8.Please
            carry proof of age for movies certified `A`.</font><br>9.Please purchase tickets for children 3 years and
        above.<br>10.To counter unforeseen delays, please collect your tickets half an hour before show
        time.<br>11.Outside
        food and beverages are not allowed inside the cinema premises.<br>12.A convenience fee per ticket is levied on
        all
        tickets booked online.<br>13.Ticket holders are required to abide by the policies laid down by the AGS Cinemas
        management.<br>14.Smoking is strictly prohibited inside the theatre premises.<br>15.People under the influence
        of
        Alcohol/Drugs will not be allowed inside the cinema premises.
    </div>
</div>
