.main-container {
  display: flex;

  height: 100%;
  margin: 15px 15px;
  background-color: white;
}

.seat-block {
  display: flex;
  flex-direction: column;

  width: 70%;
  height: 500px;
  padding-top: 40px;
  margin-left: 80px;
  overflow: auto;
}

.ticket-block {
  padding: 20px;

  width: 30%;
  height: 500px;

  overflow: auto;
}

.ticket {
  display: flex;
  flex-direction: column;
}

.theatre-name,
.showtime {
  height: 70px;
  font-weight: 500;
}

.theatre-name h6,
.showtime h6 {
  opacity: 0.7;
}

.seat-container {
  display: flex;
  flex-direction: column;
}

.seats {
  color: green;
  margin: 10px;
  width: 80px;
  height: 30px;
  border: 1px solid green;
  border-radius: 10px;
  padding: 3px 28px;
  font-weight: 500;
}

.ticket-rate {
  width: 100%;
  display: flex;
  justify-content: left;
  opacity: 0.5;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
}

.theatre-block {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
}

.seat {
  display: flex;
  flex-direction: row;
}

.box {
  cursor: pointer;
  font-size: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.th {
  padding-right: 30px;
  opacity: 0.5;
}

.select-icon {
  color: green;
}

.payment-container {
  display: flex;
  flex-direction: column;
}

.seat-payment {
  margin: 20px 0px;
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-weight: 500;

  border-top: 1px solid #e5e5e5;
}

.seat-count {
  width: 50%;
}
.amount-total {
  text-indent: 90px;
}

.payment {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  width: 100%;
  height: 50px;
  background-color: #f84464;
  color: white;
  border-radius: 5px;
  font-weight: 700;
}
